.sectionOne{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
}
.servicesSection{
    padding: 50px;
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
}
#wwd1, #wwd2, #wwd3{
    display: none;
}
.portf1, .portf2, .portf3, .portf4, .portf5, .portf6, .portf7, .portf8{
    display: none;
    padding: 30px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 5px solid;
    text-transform: uppercase;
    font-weight: 700;
    font-size: x-large;
}
.contactUs{
    background-image: url("../assets/backgrounds/c_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
form#contactUs input, textarea{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
::placeholder{
    color: white;
}
footer h6 a{
    text-decoration: none;
    color: black;
}

/* MEDIA QUERY */
@media screen and (max-width:750px){
    #sectionOneItems{
        padding-top: 2px;
    }
    #mainLogo{
        margin-top: 1px;
        font-size: 2px;
        padding-top: 0px;
    }
    #welcome{
        padding-top: 0px;
        font-size: 18px;
    }
    #welcomeText{
        padding: 0px;
        font-size: 18px;
    }
    #welcomeP{
        padding: 0px;
        font-size: 12px;
    }
    textarea{
        height: 200px;
        width: 400px;
    }

}